.collectionCard {
    color: white;
    background-color: #1a1c1e;
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
    height: 500px;
    margin-right: 30px;
}

.collectionCard > img {
    width: 100%;
    object-fit: cover;
}

.wetImage {
    height: 23px;
    width: 15px;
}
