.header {
    color: #ffffff;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header > div {
    margin: 10px;
}

.punkLogo {
    width: 200px;
}

.searchBar {
    background-color: #1c1c1e;
    height: 50px;
    flex: 1;
    display: flex;
    border-radius: 50px;
    align-items: center;
}

.searchIconContainer {
    margin: 10px;
    display: flex;
    align-items: center;
}

.searchInput {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100px;
    color: #ffffff;
    font-size: 16px;
}

.headerItems {
    display: flex;
    align-items: center;
}

.headerItems > p {
    margin: 10px;
}

.themeSwitchContainer {
    display: flex;
    background-color: #1c1c1e;
    border-radius: 50px;
}
